.header {
  height: 7rem;
  background: #090b13;
  display: flex;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.user-image {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 3.6rem;
}

.login__btn {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  height: 4rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  margin-right: 3.6rem;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
}

.login__btn:hover {
  background: rgb(198, 198, 198);
}
