.header {
  height: 7rem;
  background: #090b13;
  display: flex;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.user-image {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 3.6rem;
}

.login__btn {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  height: 4rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  margin-right: 3.6rem;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
}

.login__btn:hover {
  background: rgb(198, 198, 198);
}

.dropdown {
  position: absolute;
  top: 4.8rem;
  right: 5px;
  background: rgb(19, 19, 19);
  border: 1px solid rgba(151, 151, 151, 0.34);
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 1.8rem 0px;
  padding: 1rem;
  font-size: 1.4rem;
  letter-spacing: 3px;
  width: 10rem;
  opacity: 0;
  transition: all 0.3s;
  z-index: 2;
  cursor: pointer;
}

.signOut {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signOut:hover .dropdown {
  opacity: 1;
}
