.item {
  color: inherit;
}

.item a {
  display: flex;
  align-items: center;
}

.item img {
  height: 2rem;
}

.item span {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: white;
  letter-spacing: 1.42px;
  position: relative;
}

.item span::after {
  content: "";
  background: white;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -6px;
  right: 0;
  left: 0;
  opacity: 0;
  transform: scaleX(0);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.item span:hover::after {
  transform: scaleX(1);
  opacity: 1;
}
